<section class="h-screen bg-slate-900 w-screen text-white">
  <div class="text-center">
    <h1>Counter</h1>
    <h2>{{ counter |async}}</h2>
  </div>
  <div class="flex flex-row gap-1 justify-center mt-2">
    <button
      type="button"
      class="py-2 px-4 bg-purple-600 text-white rounded-sm hover:bg-purple-800 transition-all"
      (click)="decrement()"
    >
      Decrement
    </button>
    <button
      type="button"
      class="py-2 px-4 bg-orange-600 text-white rounded-sm hover:bg-orange-800 transition-all"
      (click)="increment()"
    >
      Increment
    </button>
  </div>
  <hr class="my-4">
  <app-hijo></app-hijo>
</section>
